<jadice-common-toolbar [provider]="viewerComponent" [config]="TOOLBAR_CONFIG"></jadice-common-toolbar>
<div class="main-row">
    <div class="sidebar">
        <jwt-thumbnail-panel #thumbnailPanelComponent
                             [viewerProvider]="viewerComponent"
                             [document]="currentDocument"
                             (pageClicked)="pageSelected($event)"></jwt-thumbnail-panel>
    </div>
    <jwt-multi-mode-viewer #viewerComponent
                           (sourceChanged)="source = $event"
                           (viewerTypeChangeRequested)="mode$.next($event === 'ACCESSIBLE')"
                           (passwordRequired)="passwordRequiredSource = $event"
                           [mode]="(vieweType$ | async)"
                           [source]="source">
        <overlay-bottom-right>
            <jadice-common-button *ngIf="!(mode$ | async)" [provider]="viewerComponent" [config]="FLOATING_BUTTON_CONFIG"></jadice-common-button>
        </overlay-bottom-right>
        <overlay-bottom>
            <jadice-common-pillbox [provider]="viewerComponent" [config]="PILLBOX_CONFIG"></jadice-common-pillbox>
        </overlay-bottom>
    </jwt-multi-mode-viewer>
    <div class="right-sidebar">
        <jwt-annotation-panel [viewerProvider]="viewerComponent"
                              (annotationSelected)="pageSelected($event)"
                              [annotationProfile]="annotationProfile$ | async">
        </jwt-annotation-panel>
    </div>
</div>
<jwt-password-dialog *ngIf="passwordRequiredSource"
                     (confirm)="loadDocWithPassword($event)"
                     (cancel)="passwordRequiredSource = null; setUrl('')"></jwt-password-dialog>

<jwt-open-file-modal *ngIf="displayOpenFile"
                     [templates]="DEMO_DOCUMENTS"
                     (fileRequested)="openFile($event)"
                     (templateRequested)="pickTemplateDoc($event)"
                     (closeRequested)="displayOpenFile = false"></jwt-open-file-modal>
